body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
canvas {
  width: 100%;
  height: 100%;
}
.header {
  text-align: center;
  padding: 20px;
  background-color: #532c54;
  color: white;
}
.flex-container {
  height: 100%;
  background-color: #d9d0dd;
  display: flex;
  flex-wrap: wrap;
}
.controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #89538a;
}
#visualization {
  flex: 3;
}
#drop-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 200px;
  border-width: 5px;
  border-style: dashed;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.btn {
  margin: 10px;
  background-color: #89538a;
  color: #d9d0dd;
  border: none;
  outline: none;
  cursor: pointer;
  height: 45px;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 5px;
}
.deliver-time-container {
  height: 50px;
}
#deliver-time-input {
  border: none;
  outline: none;
  color: #89538a;
  font-weight: bold;
  width: 50px;
  padding: 15px 15px;
  border-radius: 5px;
}
